.carousel img {
  width: 100%; /* Makes the image adapt to the container */
  height: auto; /* Keeps the aspect ratio intact */
  object-fit: cover; /* Ensures the image covers the space without distortion */
}

.minimal-carousel img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
h2.text-center.mb-4 {
  font-family: Cervo-Light, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  letter-spacing: -2px;
  font-weight: bold;
  color: #212529;
}


/* Styles for the "Explorer autres produits" button */
.explore-button {
    display: inline-block;
    padding: 12px 24px;
    font-family: "Cervo-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 1rem; /* Adjusts the space above the button */
  }
  
  .explore-button:hover {
    background-color: #444; /* Darken the button on hover */
    color: #fff; /* Keep the text white */
  }
  
  .heading-container {
    text-align: center;
    margin-bottom: 2rem;
  }
  